<!DOCTYPE html>
{%  load static %}
<html lang="en" dir="ltr">
  <head>
      <link rel="stylesheet" href="bootstrap.css">
      <link rel="stylesheet" href="{% static "bootstrap.css" %}">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title></title>
  </head>
  <body>
  <!--<img src="{% static "img.jpg" %}" alt="oops!"> -->

      <!-- A grey horizontal navbar that becomes vertical on small screens -->
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">teja465</a>
      <a href="#">Desktops</a>&emsp;
      <a href="#">Laptops</a>&emsp;
      <a href="http://127.0.0.1:8000/mobiles">Mobiles</a>&emsp;
      &emsp;&emsp;&emsp;&emsp;&emsp;
      &emsp;&emsp;&emsp;&emsp;&emsp;
      &emsp;&emsp;&emsp;&emsp;&emsp;
      &emsp;&emsp;&emsp;&emsp;&emsp;
      &emsp;&emsp;&emsp;&emsp;&emsp;
      &emsp;&emsp;&emsp;&emsp;&emsp;
      &emsp;&emsp;&emsp;&emsp;&emsp;
      &emsp;&emsp;&emsp;&emsp;&emsp;
      &emsp;&emsp;&emsp;&emsp;&emsp;
      &emsp;&emsp;&emsp;&emsp;&emsp;

      <a href="#">login</a>&emsp;
      <a href="#">logout</a>&emsp;
      <a href="#">signup</a>&emsp;
  </nav>



{% block  block_body%}


{% endblock%}




  </body>
</html>
