<!DOCTYPE html>
{%  load static %}
<html lang="en" dir="ltr">
  <head>
      <link rel="stylesheet" href="bootstrap.css">
      <link rel="stylesheet" href="{% static "bootstrap.css" %}">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>im check file</h1>

  <!--<img src="{% static "img.jpg" %}" alt="oops!"> -->




      <!-- A grey horizontal navbar that becomes vertical on small screens -->
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">teja465</a>
      <a href="#">Desktops</a>&emsp;
      <a href="#">Laptops</a>&emsp;
      <a href="#">Mobiles</a>&emsp;
      &emsp;&emsp;&emsp;&emsp;&emsp;
      &emsp;&emsp;&emsp;&emsp;&emsp;
      &emsp;&emsp;&emsp;&emsp;&emsp;
      &emsp;&emsp;&emsp;&emsp;&emsp;
      &emsp;&emsp;&emsp;&emsp;&emsp;
      &emsp;&emsp;&emsp;&emsp;&emsp;
      &emsp;&emsp;&emsp;&emsp;&emsp;
      &emsp;&emsp;&emsp;&emsp;&emsp;
      &emsp;&emsp;&emsp;&emsp;&emsp;
      &emsp;&emsp;&emsp;&emsp;&emsp;

      <a href="#">login</a>&emsp;
      <a href="#">logout</a>&emsp;
      <a href="#">signup</a>&emsp;
  </nav>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>
































  </body>
</html>
